/*Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Formato Listas */

li{
    list-style: none;
}

body{
    margin: 1%;
    background-image: url(/Imagenes/19304.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}